<%= form_with(model: product, local: true, html: { class: "needs-validation" }) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :sku, class: "form-label" %>
    <%= form.text_field :sku, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :initial_stock, "Initial Stock", class: "form-label" %>
    <%= form.number_field :initial_stock, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :expire_date, class: "form-label" %>
    <%= form.date_field :expire_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :alert_email, "Alert Email", class: "form-label" %>
    <%= form.email_field :alert_email, class: "form-control", required: true %>
  </div>

  <div class="d-grid">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
